<!DOCTYPE html>
<html data-framework="vue">
  <head>
    <meta charset="utf-8" />
    <title>Vue.js • TodoMVC</title>
    <link rel="stylesheet" href="./css.css" />
    <style>
      [v-cloak] {
        display: none;
      }
    </style>
  </head>
  <body>
    <section class="todoapp">
      <header class="header">
        <h1>todos</h1>
        <input
          class="new-todo"
          autofocus
          autocomplete="off"
          placeholder="What needs to be done?"
          v-model="newTodo"
          @keyup.enter="addTodo"
        />
      </header>
      <section class="main" v-show="todos.length" v-cloak>
        <input
          id="toggle-all"
          class="toggle-all"
          type="checkbox"
          v-model="allDone"
        />
        <label for="toggle-all">Mark all as complete</label>
        <ul class="todo-list">
          <li
            v-for="todo in filteredTodos"
            class="todo"
            :key="todo.id"
            :class="{ completed: todo.completed, editing: todo == editedTodo }"
          >
            <div class="view">
              <input class="toggle" type="checkbox" v-model="todo.completed" />
              <label @dblclick="editTodo(todo)">{{ todo.title }}</label>
              <button class="destroy" @click="removeTodo(todo)"></button>
            </div>
            <input
              class="edit"
              type="text"
              v-model="todo.title"
              v-todo-focus="todo == editedTodo"
              @blur="doneEdit(todo)"
              @keyup.enter="doneEdit(todo)"
              @keyup.esc="cancelEdit(todo)"
            />
          </li>
        </ul>
      </section>
      <todo-layout-footer v-if="todos.length" ref="todoLayoutFooterRef"
        :todos="todos"
        :remaining="remaining"
        :visibility="visibility"
        :flag="todos.length ? 'a' : 'b'"
      >
        <template #clear>
          <button
            class="clear-completed"
            @click="removeCompleted"
            v-show="todos.length > remaining"
          >
            Clear completed
          </button>
        </template>
      </todo-layout-footer>
    </section>

    <script>
      // for testing
      if (navigator.userAgent.indexOf("PhantomJS") > -1) localStorage.clear();
    </script>
    <!-- Delete ".min" for console warnings in development -->
    <script src="https://unpkg.com/vue@2.7.16/dist/vue.js"></script>
    <script src="./../../vue2use/packages/dist/vue2use.js"></script>
    <script src="app.js"></script>
  </body>
</html>
